<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>NextEventDate</servlet-name>
    <servlet-class>com.google.kentonshouse.cloud.NextEventDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextEventDate</servlet-name>
    <url-pattern>/api/next-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewEvent</servlet-name>
    <servlet-class>com.google.kentonshouse.cloud.NewEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEvent</servlet-name>
    <url-pattern>/admin/api/new-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetEventLocation</servlet-name>
    <servlet-class>com.google.kentonshouse.cloud.SetEventLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEventLocation</servlet-name>
    <url-pattern>/admin/api/set-event-location</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.google.kentonshouse.cloud.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/admin/api/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.google.kentonshouse.cloud.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register/api/register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/register/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>